<div class="container wrapper">
    <div class="row">
        <!-- Skater table -->
        <div class="col-md-12">
            <div class="inner">
                <h3>Skaters</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Desired Hollow</th>
                            <th scope="col">Interval</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skater of SkaterList">
                            <th scope="row">{{ skater.first_name }} {{ skater.last_name }}</th>
                            <td><a href="mailto:{{ skater.email}}">{{ skater.email }}</a></td>
                            <td>{{ skater.hollow }}</td>
                            <td>{{ skater.interval }}</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-skater/', skater.id]">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteSkater(skater)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
