<div class="container">
  <h2>Skaters</h2>
</div>

<div *ngFor="let s of skaters">
  <mat-card class="skater-card">
    <mat-card-header>
      <mat-card-title>
        {{ s.first_name }} {{ s.last_name }}
      </mat-card-title>
      <mat-card-subtitle>
          <a href="mailto:{{ s.email }}">{{ s.email }}</a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span>Preferred Hollow</span><br />
      <span>Last Sharpened</span><br />
      <span>Sharpening Interval</span>
    </mat-card-content>
  </mat-card>
  <mat-divider class="skater-card"></mat-divider>
</div>

